.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-large);
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-medium);
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-small);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-xSmall);
}

.cardLabels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--aegis-space-xSmall);
}
