.userCell {
  display: flex;
  align-items: center;
  gap: var(--aegis-space-small);
}

.userInfo {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.actionButtons {
  display: flex;
  gap: var(--aegis-space-xxSmall);
}

.textCenter {
  text-align: center;
}
