.toolbar {
  display: flex;
  align-items: center;
  background-color: var(--aegis-color-background-default);
  border: 1px solid var(--aegis-color-border-neutral-subtle);
  border-radius: var(--aegis-radius-medium);
  padding: 2px;
  box-shadow: var(--aegis-depth-medium);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--aegis-motion-duration-xFast) var(--aegis-motion-easing-default),
    visibility var(--aegis-motion-duration-xFast) var(--aegis-motion-easing-default);
}

.toolbarVisible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
