.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-medium);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--aegis-space-small);
}

.toolbarLeft {
  display: flex;
  align-items: center;
  gap: var(--aegis-space-small);
}

.search {
  min-width: var(--aegis-layout-width-x3Small);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--aegis-space-medium);
  width: 100%;
  padding: var(--aegis-space-xSmall) var(--aegis-space-small);
}

.body {
  flex: 1;
  min-width: 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: var(--aegis-space-small);
  flex-shrink: 0;
}
