.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--aegis-space-medium);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: var(--aegis-space-xxSmall);
}
